# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LogTailer.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Workspace\GitHub\LogTailer\src\LogTailer\.idea\.idea.LogTailer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
