# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TestFileGenerator.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Workspace\GitHub\LogTailer\src\TestFileGenerator\.idea\.idea.TestFileGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
